/********************
Variables
********************/
/*EFA Color Palette*/

$red: #d9514e;
$orange: #f79569;
$yellow: #f6d57a;
$green: #8acfba;
$blue-green: #9ad0d5;
$blue: #86bad3;
$purple: #a992bc;
$brown: #725b4d;
$gray: #53565a;
$black: #000 !default;