/********************
Variables
********************/
/*EFA Color Palette*/
/********************
Body Section
********************/
body {
  padding: 15px;
  color: white;
  font: Belleza; }

/********************
Header Section
********************/
.header {
  margin-top: 0.5em !important;
  text-align: center;
  background-color: #53565a;
  color: white; }

.header a {
  color: white; }

.header p {
  margin-top: 0.8em !important; }

/********************
Sidebar Section
********************/
.sidebar {
  display: flex;
  background-color: #53565a;
  margin-top: 10px; }

ul {
  list-style-type: 'none'; }

.sidebar-list-styling {
  padding-left: 50px;
  padding-top: 10px;
  width: 20%;
  background-color: #53565a;
  color: white; }

.sidebar-list a {
  color: white;
  padding: 0; }

.sidebar-route {
  flex: 1;
  padding: 0; }

/********************
Main Section
********************/
.main {
  background-color: white;
  color: black;
  height: 100%;
  min-height: 100%; }

.mainDiv {
  margin: auto;
  width: 90%;
  padding: 5px; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/********************
Bitcoin Section
********************/
.row {
  display: flex;
  justify-content: center; }

h1 {
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: white; }

#coindesk {
  font-weight: 300; }

#coindesk a {
  text-decoration: none;
  color: inherit; }

.popup {
  min-height: 50px; }

#data-container {
  width: 100%;
  display: flex;
  justify-content: center; }

.box {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0; }

.heading {
  font-size: 2.5em;
  color: #2196F3; }

.subtext {
  color: #64B5F6; }

#left {
  margin-right: 48px; }

#middle {
  padding: 0 48px;
  border-left: 1px solid #DAE1E9;
  border-right: 1px solid #DAE1E9; }

#right {
  margin-left: 48px; }

.linechart {
  padding: 8px; }

.linechart_path {
  stroke-width: 3;
  fill: none; }

.linechart_axis {
  stroke: #bdc3c7; }

.linechart_point {
  fill: #fff;
  stroke-width: 2; }

.linechart_area {
  padding: 8px;
  fill: #64B5F6;
  stroke: none;
  opacity: .4; }

.linechart_label {
  fill: #64B5F6;
  font-weight: 700; }

.hoverLine {
  stroke: #7D95B6;
  stroke-width: 1; }

.hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 5px;
  border-radius: 4px;
  background-color: #2196F3;
  color: white; }

.hover .price {
  font-weight: 700; }

/********************
Footer Section
********************/
footer {
  background-color: #53565a;
  margin-top: 10px; }

footer p {
  margin-top: 0.8em !important;
  margin-left: 1.5em; }

/********************
Compiler Section
********************/
.compiler-header {
  display: block;
  height: 5vh;
  overflow: auto;
  background-color: #f6d57a;
  color: #d9514e;
  font-size: 28px; }

.compiler-container {
  height: 95vh;
  display: flex; }

pre {
  background-color: #f8f8f8; }

pre, textarea {
  height: 95vh;
  width: 50%;
  font-family: monospace;
  font-size: 18px;
  margin: 0;
  padding: 10px;
  color: #222; }

textarea:focus {
  outline: 0; }
