/********************
Variables
********************/
/*EFA Color Palette*/
/********************
Body Section
********************/
body {
  padding: 15px;
  background-color: #8acfba;
  color: white;
  font-family: 'Belleza'; }
